{% extends "base.html" %}
{% block content %}
    <main class="main main__about">
        <p class="linux_style">[root@root] > $ whoami <span class="flash">|</span></p>
        <p>
            <i class="fa-solid fa-arrow-turn-up"></i> Saad Azil, computer science student at the University of Bejaia, with a passion for programming, automation and Building tools. I am interested in the field of cybersecurity and penetration testing. I find great joy in sharing my experiences with others. Every day, I strive to expand my knowledge in this field by learning new techniques and skills. Additionally, I aim to participate in CTFs and Hackathons to gain real-world experience.
        </p>
    </main>
{% endblock %}