{% extends "base.html" %}

{% block content %}
    <main class="main main__content">
        <dl>
            <div class="contact">
                <dt>
                   [+] Email : 
                </dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:azilsaad06@gmail.com">
                        azilsaad06@gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>
                    [+] LinkedIn : 
                </dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/SaadAzil">
                        Saad Azil
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>
                    [+] Github : 
                </dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/SaadAzil3">
                        SaadAzil3
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}